@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*
{
  margin: 0;
  padding: 0;
}

h1{
    margin-top: 1%;
    text-align: center;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    display: flex
}

h2{
    margin-top: 1%;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: left;
    font-size: 20px;
}

h3{
    font-family: Arial;
}

font{
    font-size: 0.4rem;
    font-family: Arial;
}

text1{
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
}

header {
    flex-shrink: 0;
}

.container {
    background:purple;
    width: 24rem;
    height: 7%;
    position:absolute;
    overflow: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.body{
    position:absolute;
    top:1rem;
    left:3rem;
    height:1500px;
    width: 18rem;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    position:absolute;
    overflow: auto;
}

.mainbox{
    display: flex;
    min-width:1024px;
    max-width:1920px;
    top:4rem;
    height:1500px;
    margin:0 auto;
    background-color: rgb(67, 66, 66);
    padding: 3rem 3rem 0;
}

.legend{
    position:absolute;
    left:2rem;
}

#map {
    background:rgb(67, 66, 66);
}


